<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tailYY.backend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tailYY.backend.model.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="userName" jdbcType="VARCHAR"/>
            <result property="useraccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="userrole" column="userRole" jdbcType="CHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="ResultMap" type="com.tailYY.backend.model.Do.UserDo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="userName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,userAccount,
        avatar,userRole,password,
        createTime,updateTime,isDelete
    </sql>
    <select id="selectBatchIdsMap" resultMap="ResultMap">
        SELECT id, username FROM user WHERE id IN
        <foreach item='id' index='index' collection='userIds' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </select>
</mapper>
